block variables 
	//- Base
	//- var baseUrl = data.protocol + data.domain[1] + '/♥';
	- var baseUrl = '';
	- var indexUrl = 'index.html';
	- var timestamp = Math.round((new Date()).getTime() / 1000);
