/*!
 *  @copyright 2020 HandMind (http://handmind.ru/). All Rights Reserved.
 *  @author Stepan S. (stepan@handmind.ru)
 *  Powered by SASS (http://sass-lang.com/)
 */
@import "../functions";
@import "../variables";
@import "../mixins";

// Marta
// -------------------------
// Marta: Variables
$marta-brand-red:              #C62718;
$marta-brand-peach:            #FFDAA5;
$marta-brand-tea-green:        #D0D4CC;
$marta-brand-pink:             #FFD4CC;
$marta-animation-duration:     10s;
$marta-animation-steps:        ((strip-unit($animation-duration) * 60) / 4);
// keyframes
@keyframes martaBackgroundLeft {
	to { transform: translate3d(0,0,0); }
}
@keyframes martaBackgroundRight {
	to { transform: translate3d(100%,0,0); }
}
// Cover
.cover-marta {
	@include size(100%);
	position: absolute;
	top: 0; left: 0;
	z-index: $z-index-foreground;
	overflow: hidden;
	user-select: none;
	&:before,
	&:after {
		content: " ";
		position: absolute;
		width: 125%;
		height: 100%;
		top: 0; left: 0;
		background: linear-gradient(to left,$marta-brand-peach 0%,$marta-brand-pink 33.33%,$marta-brand-tea-green 66.67%,$marta-brand-peach 100%) 50% 50% / 100% 100% no-repeat;
		animation-duration: $marta-animation-duration;
		animation-timing-function: steps($marta-animation-steps, end);
		animation-iteration-count: infinite;
		will-change: transform;
	}
	&:before {
		transform: translate3d(-100%,0,0);
		animation-name: martaBackgroundLeft;
	}
	&:after {
		animation-name: martaBackgroundRight;
		margin-left: -1px; // Bug @Chrome
	}
}
