// Base
// -------------------------
// Reset Box Sizing
* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
	@-ms-viewport {
		width: device-width;
	}
}
html,
body {
	height: 100%;
}
// Body Reset
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	text-size-adjust: 100%;
	font-size: $font-size-root;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-style: normal;
	line-height: $line-height-base;
	letter-spacing: 0.015em;
	color: $color-primary;
	background-color: $background-color-base;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
[tabindex="-1"]:focus {
	outline: 0 !important;
}

// Selection
::selection {
	text-shadow: none;
}

// HTML5 Display Definitions
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden],
template {
	display: none;
}

// Links
a {
	color: $link-color;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	touch-action: manipulation;
	cursor: pointer;
	&:hover,
	&:active {
		color: $link-hover-color;
	}
	&:focus {
		outline: 0;
	}
}

// Figures
figure {
	margin: 0;
}

// Images and content
img {
	vertical-align: middle;
	border-style: none;
}
svg {
	overflow: hidden;
	vertical-align: middle;
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
	display: none !important;
}
