// Fonts
// -------------------------
// Rubik Regular
@font-face {
	font-family: Rubik;
	src: local("☺"), inline("../fonts/rubik.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
// Rubik Regular Italic
@font-face {
	font-family: Rubik;
	src: local("☺"), inline("../fonts/rubik-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
// Rubik Regular Italic
@font-face {
	font-family: Rubik;
	src: local("☺"), inline("../fonts/rubik-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
// Rubik Regular Italic
@font-face {
	font-family: Rubik;
	src: local("☺"), inline("../fonts/rubik-bold-italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
// Rubik Regular
@font-face {
	font-family: "Dela Gothic One";
	src: local("☺"), inline("../fonts/dela-gothic-one.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
