// Components: Covers
// -------------------------
.scheme {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
}
.scheme__list {
	display: inline-block;
	list-style: none;
	margin-top: 1rem;
	margin-bottom: 0;
}
.scheme__list-item {
	display: inline-block;
	padding: 1.5% 1.75% 0;
}


.member {
	position: relative;

	padding: 3rem;
	text-align: left;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.member__header,
.member__footer {
	padding-right: 50%;
}
.member__footer {
	margin-top: auto;
	margin-bottom: 4rem;
}
.scheme__navigation,
.member__navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.scheme__navigation {
	position: absolute;
	justify-content: center;
	text-align: center;
	bottom: 0; left: 0; right: 0;
	padding: 3rem;
}
.title {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 0;
}
.title_theme_dark {
	color: rgba($white,.95)
}
.title_size_h1 {
	font-size: 4.5rem;
	margin-bottom: 1.5rem;
}
.text {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
}
p.text {
	margin-bottom: 0;
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}
.text_theme_dark {
	color: rgba($white,.95);
}
.text_size_small {
	font-size: 1.25rem;
}
.text_size_medium {
	font-size: 1.75rem;
}
.scheme {
	text-align: center;
}
.scheme-member {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	transition: all .2s ease;
}
.scheme-member__userpic {
	position: relative;
	z-index: 1;
	width: 100%;
	padding-top: 100%;
}
.scheme-member__userpic-image,
.scheme-member__userpic-focus-ring {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	border-radius: 50%;
}
.scheme-member__userpic-focus-ring {
	z-index: -1;
	background-color: rgba(112,180,88,0);
	transition: all .2s $ease-in-out-cubic;
	box-shadow: 0em 0em 0em 0em rgba(112,180,88,0);
	transform: translate3d(0,0,0) rotate(0deg);
	transform-origin: 51% 49%;
	animation: rotate 2s linear infinite forwards;
	animation-play-state: paused;
}
.scheme-member__userpic-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.scheme-member__caption {
	margin-top: 1vw;
}
.scheme-member__firstname,
.scheme-member__lastname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.scheme-member_size_smaller {
	width: 4vw;
	font-size: .6vw;
}
.scheme-member_size_small {
	width: 5.5vw;
	font-size: .8vw;
}
.scheme-member_size_medium {
	width: 7.5vw;
	font-size: 1vw;
}
.scheme-member_size_large {
	width: 8.5vw;
	font-size: 1.125vw;
}
.scheme-member:hover:focus,
.scheme-member:focus,
.scheme-member_state_active {
	width: 9vw;
	font-size: 1.375vw;
	.scheme-member__userpic-focus-ring {
		background-color: rgba(112,180,88,.5);
		box-shadow: 0em 0em 1.125em .25em rgba(112,180,88,.7);
		animation-play-state: running;
	}
}

@keyframes rotate {
	to {
		transform: translate3d(0,0,0) rotate(360deg);
	}
}
